USE [Digital]
GO
/****** Object:  Table [dbo].[digital]    Script Date: 4/11/2019 10:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digital](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [text] NOT NULL,
	[image] [nvarchar](50) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[timePost] [date] NOT NULL,
	[shortDes] [text] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Book]    Script Date: 4/11/2019 10:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Book](
	[BookCode] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nchar](400) NOT NULL,
	[Author] [nchar](400) NOT NULL,
	[Publisher] [nchar](400) NOT NULL,
	[BookNumber] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Book] PRIMARY KEY CLUSTERED 
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Copy]    Script Date: 4/11/2019 10:53:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Copy](
	[CopyCode] [int] IDENTITY(1,1) NOT NULL,
	[BookCode] [int] NOT NULL,
	[CopyNumber] [int] NOT NULL,
	[SequenceNumber] [int] NOT NULL,
	[Type] [nchar](10) NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CopyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[digital] ON 

SET IDENTITY_INSERT [dbo].[digital] OFF
ALTER TABLE [dbo].[tbl_Copy]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Copy_tbl_Book] FOREIGN KEY([BookCode])
REFERENCES [dbo].[tbl_Book] ([BookCode])
GO
ALTER TABLE [dbo].[tbl_Copy] CHECK CONSTRAINT [FK_tbl_Copy_tbl_Book]
GO
